/* CSS Syntax */

p {font-size: 1em; line-height: 1.5em}
figcaption{/*font-weight: normal; font-size: 0.75em; line-height: 1.5em; font-family: Goergia, "New Times Roman", serif;*/
            font: normal o.75em/1.5em Goergia, "New Times Roman", serif;}








